.abc{
  color: darkslateblue;
  text-align: center;
}

.main{
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.53); */
}

.textSize{
  font-size: 0.8rem;
}
.special{
  text-align: justify;
  padding: 0 4rem;
  font-style: italic;
}